/* ask question design starts */

.ask-question{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    min-height: 400px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Inter', sans-serif;

}


.my-question-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.my-text-input{
    background-color: #eee;
    border: none;
    font-size: 16px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 50%;
    font-family: 'Tiro Bangla',sans-serif;
}
.my-text-btn{
    margin: 20px;
}

.my-ans{
    margin: 10px;
    font-family: 'Tiro Bangla',sans-serif;
    text-align: center;
}

.ask-save-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ask-save-btn-div button{
    display: none;
}
@media only screen and (max-width: 425px){
    .ask-question{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 375px){
    .ask-question{
        margin-left: 0;
        margin-right: 0;
    }
}
/* ask question design ends */