body{
    margin: 0;
}
.my-brand{
    color: rgb(8, 6, 48);
    font-size: 2rem;
    margin-left: 50px;
}
.nav-item:hover{
    text-decoration: underline;
}
.intro{
    font-family: 'Inter', sans-serif;
    background-image: url('../images/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro-section img{
    width: 500px;
    margin-top: 40px;
    
}
.intro-text{
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 100px;
    
}
.intro-text h2{
    color: rgb(8, 6, 48);
}


.intro-text p{
    font-size: 1.2rem;
    margin-top: 0;
    padding: 0;
}
.ask-question{
    margin-top: 100px;
    margin-bottom: 100px;
}
.my-question-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.my-text-input{
    width: 500px;
    height: 38px;
    padding: 15px;
}
.my-text-btn{
    margin: 20px;
}
.my-ans{
    
    margin-top: 10px;
    margin-left: 340px;
    margin-right: 320px;
}